<link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
<!DOCTYPE html>
<html>
<head>
    <title>Page Name</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
<div class="navbar">
    <h1>Hostel Food System</h1>

    <div class="nav-links">
        <a href="#home">Home</a>
        <a href="#about">About Us</a>
        <a href="#features">Features</a>
        <a href="#contact">Contact</a>
        <a href="/student_login">Student Login</a>
        <a href="/admin_login">Warden Login</a>
    </div>
</div>


<!-- HERO SECTION -->

<section id="home" class="hero-section">

    <div class="hero-box">

        <h2>Hostel Food Complaint & Menu Management System</h2>

        <p>
            Manage complaints, improve food quality,
            and provide better hostel services
        </p>

        <div class="hero-buttons">

            <a href="/student_login">
                <button>Student Portal</button>
            </a>

            <a href="/admin_login">
                <button>Admin Portal</button>
            </a>

        </div>

    </div>

</section>


<!-- ABOUT -->

<section id="about" class="content-section">
    <h2>About Us</h2>

    <p>
        This system helps students raise food complaints,
        view menu updates, provide ratings,
        and track complaint resolution.
    </p>
</section>


<!-- FEATURES -->

<section id="features" class="content-section">
    <h2>Features</h2>

    <div class="cards">

        <div class="dashboard-card">
            <h3>Raise Complaint</h3>
            <p>Students can report food quality issues easily.</p>
        </div>

        <div class="dashboard-card">
            <h3>Food Rating</h3>
            <p>Students can rate food quality and service.</p>
        </div>

        <div class="dashboard-card">
            <h3>Complaint Status</h3>
            <p>Track whether complaint is Pending or Resolved.</p>
        </div>

    </div>
</section>


<!-- CONTACT -->

<section id="contact" class="content-section">
    <h2>Contact</h2>

    <p>
        Hostel Office | Warden Support |
        hostel@college.com
    </p>
</section>
</body>
</html>
