<!-- Student_login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Page Name</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>Student Login</h2>
    <a href="/" class="logout-btn">Back</a>
</div>

<div class="dashboard-page">

    <div class="form-box">

        <h1>Student Login</h1>
        <p>Username and Password should be same</p>

        <form method="POST" class="login-form">

            <input
                type="text"
                name="roll_no"
                placeholder="Enter Username"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</div>

</body>
</html>
```
