<!DOCTYPE html>
<html>
<head>
    <title>Page Name</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <link rel="stylesheet" href="/static/style.css">

<div class="navbar">
    <h2>HOSTEL FOOD SYSTEM</h2>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/">About Us</a>
        <a href="/">Features</a>
        <a href="/">Contact</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="dashboard-page">

    <h2>Welcome, {{ session['student'] }}</h2>
    <p>Manage your complaints, food ratings, and menu updates</p>

    <div class="cards">

        <div class="dashboard-card">
            <h3>Raise Complaint</h3>
            <p>Submit food-related complaints easily</p>
            <a href="/complaint">
                <button>Open</button>
            </a>
        </div>

        <div class="dashboard-card">
            <h3>View Menu</h3>
            <p>Check breakfast, lunch, and dinner menu</p>
            <a href="/menu">
                <button>Open</button>
            </a>
        </div>

        <div class="dashboard-card">
            <h3>Food Rating</h3>
            <p>Rate hostel food quality and service</p>
            <a href="/rating">
                <button>Open</button>
            </a>
        </div>

        <div class="dashboard-card">
            <h3>Complaint Status</h3>
            <p>Track whether complaint is resolved</p>
            <a href="/status">
                <button>Open</button>
            </a>
        </div>

    </div>

</div>
