<!DOCTYPE html>
<html>
<head>
    <title>Update Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>Update Menu</h2>
    <a href="/admin_dashboard" class="logout-btn">Back</a>
</div>

<div class="dashboard-page">

    <div class="form-box">

        <h1>Update Weekly Menu</h1>

        <form method="POST" class="update-menu-form">

            <select name="day" required>
                <option value="">Select Day</option>
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
                <option>Sunday</option>
            </select>

            <input
                type="text"
                name="breakfast"
                placeholder="Breakfast (optional)"
            >

            <input
                type="text"
                name="lunch"
                placeholder="Lunch (optional)"
            >

            <input
                type="text"
                name="dinner"
                placeholder="Dinner (optional)"
            >

            <button type="submit">
                Update Menu
            </button>

        </form>

        <br><br>

        <h2>Student Food Ratings</h2>

        <table class="menu-table">
            <tr>
                <th>ID</th>
                <th>Roll No</th>
                <th>Rating</th>
            </tr>

            {% for rate in ratings %}
            <tr>
                <td>{{ rate[0] }}</td>
                <td>{{ rate[1] }}</td>
                <td>{{ rate[2] }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>

</div>

</body>
</html>
